/* alterando cor do nome */
.nome{
    color: #bc43cc; 
    background-color: pink;
}
/* alterando cor hexadecimal */
.hexadecimal{
color: palevioletred; background-color: #6aeefc
}
/* alterando cor por rgba */
.rgba{
    color:red ;background-color: rgba(198, 68, 227, 0.24);
}
/* alterando a segunda pagina */
h1{
    background-color: violet;
}

.div-background{ 
    background-image: url(images.jpg); 
    height: 500px;
    width: 500px;

}